<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="appStartTime" value="" />

  <targets>
    <!-- 每次启动生成一个日志文件: PointPosition_YYYYMMDDHHMMSS.log -->
    <target name="logfile" xsi:type="File"
            fileName="${basedir}/logs/PointPosition_${var:appStartTime}.log"
            layout="${longdate} [${level:uppercase=true}] [${logger:shortName=true}] ${message} ${exception:format=tostring}"
            keepFileOpen="true"
            concurrentWrites="false"
            encoding="utf-8"/>
    <target name="console" xsi:type="Console"
            layout="${time} [${level:uppercase=true}] ${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile"/>
    <logger name="*" minlevel="Info" writeTo="console"/>
  </rules>

</nlog>
